.explore {
  background: url(../images/explore-bg-min.jpg) lightgray -585px -328px /
    416.246% 113.662% no-repeat;
  width: 100%;
  background-repeat: no-repeat;
  &__title {
    color: #010a20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 115% */
    display: flex;
    height: 112px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }
  &__container {
    margin-top: 1200px;
    height: 929px;
    width: 100%;
    opacity: 0.9;
    background: #020c21;
  }
  &__subtitle {
    margin-top: 72px;
    display: flex;
    height: 52px;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 115% */
  }
  &__text {
    color: #e0e0e0;
    width: 314px;
    height: 167px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
  }
}
